---
import Layout from '../layouts/Layout.astro';
import { Menu } from '../components/Menu';
import { Footer }  from '../components/Footer';
import '../styles/global.css';
---
<Layout title="O Projekcie" description="Informacje o projekcie">
  <Menu />
  <div class="text-white py-12">
    <div class="max-w-7xl mx-auto px-4">
      <h1 class="text-3xl font-bold mb-4">O Projekcie</h1>
      <p class="text-gray-300">
        No Siema Elo 5 2 0
      </p>
    </div>
  </div>
  <Footer />
</Layout>
