---
import Layout from '../layouts/Layout.astro';
import { Menu } from '../components/Menu';
import { Teaser } from '../components/Teaser';
import { CardItems } from '../components/CardItems';
import { Footer } from '../components/Footer';
import '../styles/global.css';
---

<Layout title="No Elo" description="Astro rendering example">
  <Menu />
  <main>
    <Teaser />
    <CardItems />
  </main>
  <Footer />
</Layout>
